@media (min-width: 992px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="74c54a55-0597-8f20-802b-af5cd3023f3b"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="e0f07d9c-f757-5da3-727b-2c64a4436bec"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bfebc67e-08b5-4b40-81ad-482381dd3d39"] {
          color: rgb(255, 255, 255);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="381d34d4-e84b-fe50-3bf3-fdac56eb1747"] {
          height: 0%;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d61500b8-d00c-7743-8358-03f2577365af"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d61500b8-d00c-7743-8358-03f2577365b0"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d61500b8-d00c-7743-8358-03f2577365b1"] {
          color: rgb(255, 255, 255);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d61500b8-d00c-7743-8358-03f2577365b5"] {
          height: 0%;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="03ceda07-27e3-686e-2746-3c3869cf5317"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="03ceda07-27e3-686e-2746-3c3869cf5318"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="03ceda07-27e3-686e-2746-3c3869cf5319"] {
          color: rgb(255, 255, 255);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="03ceda07-27e3-686e-2746-3c3869cf531d"] {
          height: 0%;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0798721c-11e2-65ac-834d-3bed3c494385"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0798721c-11e2-65ac-834d-3bed3c494386"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0798721c-11e2-65ac-834d-3bed3c494387"] {
          color: rgb(255, 255, 255);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0798721c-11e2-65ac-834d-3bed3c49438b"] {
          height: 0%;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bcd59f52-c6ac-af13-830e-7a37da565a09"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bcd59f52-c6ac-af13-830e-7a37da565a0b"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bcd59f52-c6ac-af13-830e-7a37da565a52"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bcd59f52-c6ac-af13-830e-7a37da565a55"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bcd59f52-c6ac-af13-830e-7a37da565a59"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bb94bec6-1f12-9d6a-ec61-984979e07702"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bb94bec6-1f12-9d6a-ec61-984979e07704"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bb94bec6-1f12-9d6a-ec61-984979e0774b"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bb94bec6-1f12-9d6a-ec61-984979e0774e"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bb94bec6-1f12-9d6a-ec61-984979e07752"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="1cf8fa59-0fe5-f116-df62-0bd0eedc16a5"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="1cf8fa59-0fe5-f116-df62-0bd0eedc16a7"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="1cf8fa59-0fe5-f116-df62-0bd0eedc16ee"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="1cf8fa59-0fe5-f116-df62-0bd0eedc16f1"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="1cf8fa59-0fe5-f116-df62-0bd0eedc16f5"] {
          opacity: 0;
        }
      }
      @media (max-width: 991px) and (min-width: 768px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="74c54a55-0597-8f20-802b-af5cd3023f3b"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="e0f07d9c-f757-5da3-727b-2c64a4436bec"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bfebc67e-08b5-4b40-81ad-482381dd3d39"] {
          color: rgb(255, 255, 255);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="381d34d4-e84b-fe50-3bf3-fdac56eb1747"] {
          height: 0%;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d61500b8-d00c-7743-8358-03f2577365af"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d61500b8-d00c-7743-8358-03f2577365b0"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d61500b8-d00c-7743-8358-03f2577365b1"] {
          color: rgb(255, 255, 255);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d61500b8-d00c-7743-8358-03f2577365b5"] {
          height: 0%;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="03ceda07-27e3-686e-2746-3c3869cf5317"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="03ceda07-27e3-686e-2746-3c3869cf5318"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="03ceda07-27e3-686e-2746-3c3869cf5319"] {
          color: rgb(255, 255, 255);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="03ceda07-27e3-686e-2746-3c3869cf531d"] {
          height: 0%;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0798721c-11e2-65ac-834d-3bed3c494385"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0798721c-11e2-65ac-834d-3bed3c494386"] {
          -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0798721c-11e2-65ac-834d-3bed3c494387"] {
          color: rgb(255, 255, 255);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0798721c-11e2-65ac-834d-3bed3c49438b"] {
          height: 0%;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="cba0926d-9f32-8229-0c51-d024d2688f98"] {
          opacity: 0;
        }
      }
      @media (max-width: 767px) and (min-width: 480px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="cba0926d-9f32-8229-0c51-d024d2688f98"] {
          opacity: 0;
        }
      }
      @media (max-width: 479px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="cba0926d-9f32-8229-0c51-d024d2688f98"] {
          opacity: 0;
        }
      }
    

      html.w-mod-js:not(.w-mod-ix3) :is(.about-details, .about-v1-right-title) {
        visibility: hidden !important;
      }